[terraform-iac]
aws_access_key_id = REPLACE_WITH_ACCESS_KEY_ID
aws_secret_access_key = REPLACE_WITH_SECRET_ACCESS_KEY

# Copy this file to aws-credentials (without .example) and insert real values.
# Ensure the real file name is listed in .gitignore (already configured).